h1{
    color: white;
    background-color: black;
    display: inline-block;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

p{
    color: white;
    background-color: black;
    display: inline-block;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}